// HelloWorld Resource File
#include <windows.h>

// Note: Icon is created programmatically in gui_win32.cpp
// This resource file only contains version information

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "HelloWorld Project"
            VALUE "FileDescription", "HelloWorld - DPI-Resistant Encrypted Tunnel"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "helloworld"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "helloworld.exe"
            VALUE "ProductName", "HelloWorld"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

